/**
 * Base styles: opinionated defaults
 */

* { box-sizing: border-box; }

/**
 * Design Tip: Never Use Black
 * 1. http://ianstormtaylor.com/design-tip-never-use-black/
 */
html { color: #222 /* 1 */; }

/**
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 * 1. Defaulting to a blue which has a 4.7 contrast ratio from #fff http://leaverou.github.io/contrast-ratio/#%23fff-on-%230074D9
 */
::selection { color: #fff /* 1 */; background: #0074d9 /* 1 */; text-shadow: none; }

/**
 * A better looking default horizontal rule
 */
hr { display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #ccc; }


/**
 * Remove default fieldset styles.
 */
fieldset { margin: 0; padding: 0; border: 0; }

/**
 * Allow only vertical resizing of textareas.
 */
textarea { resize: vertical; }