
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
.h1{font-size:196%;  font-weight:normal; font-style: normal; color:#004358;}
.h2{font-size:167%; font-weight:normal; font-style: normal; color:#004358;}
.h3{font-size:146.5%; font-weight:normal; font-style: normal; color:#FD7400;}
.h4{font-size:123.1%; font-weight:normal; font-style: normal; color: #1F8A70;}
.h5{font-size:108%; font-weight:bold; font-style: normal; color:#004358;}
.h6{font-size:108%; font-weight:normal;  font-style: italic; color:#1F8A70;}

.lede{}


/* ====== media object ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}


/*
|--------------------------------------------------------------------------
| Standard Module Format
|--------------------------------------------------------------------------
|
| Standard Module Format based off of the YUI Module control.
|
| .mod{}
|    .inner{}
|        .hd{}
|        .bd{}
|        .ft{}
*/

/*
Copyright (c) 2009, Nicole Sullivan. All rights reserved.
Code licensed under the BSD License:
version: 0.2
*/
/* **************** BLOCK STRUCTURES ***************** */
/* mod */
.mod{margin:10px;}
.mod .inner{/*background: url(skin/transparent.png) repeat left top;*/}
.hd,.bd,.ft{overflow:hidden;_overflow:visible; _zoom:1;}
.inner{position:relative;}
b{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
.tl, .tr, .bl, .br{height:10px; width:10px;float:left;}
.tl{background-position: left top;}
.tr{background-position: right top;}
.bl{background-position: left bottom;}
.br{background-position: right bottom;}
.br,.tr{float:right;}
.tr, .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
.bl,.br{margin-top:-10px;}
.top{background-position:center top;}
.bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/

/* ----- simple (extends mod) ----- */
.simple .inner {border:1px solid #D7D7D7;-moz-border-radius: 7px;-webkit-border-radius: 7px;border-radius: 7px;}
.simple b{*background-image:url(skin/mod/simple_corners.png);}

/* ----- complex (extends mod) ----- */
.complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
.complex .bl, .complex .br{/*margin-top:0;*/}
.complex .top{height:5px;}
.complex .bottom{height:5px;/*margin-top:-10px;*/}
/* ----- pop (extends mod) ----- */
.pop{overflow:visible;margin: 10px 20px 20px 10px; background-position:left top;}
.pop .inner{right:-10px; bottom:-10px; background-position:right bottom;padding:0 10px 10px 0;}
.pop .tl, .pop .br{display:none;}
.pop .bl{bottom:-10px;}
.pop .tr{right:-10px;}