/**
 * Island Object Pattern
 * http://csswizardry.com/2011/10/the-island-object/
 *
 * Simple, boxed off content
 * 1. Micro clearfix (Grouped in Clearfix-styles), as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 *
 * Size Modifier(s):
 * .o-island--tiny         - Modifies the padding of the island object to be tiny. Extends '.o-island'.
 * .o-island--small        - Modifies the padding of the island object to be small. Extends '.o-island'.
 * .o-island--medium       - Modifies the padding of the island object to be medium. Extends '.o-island'.
 * .o-island--large        - Modifies the padding of the island object to be large. Extends '.o-island'.
 * .o-island--huge         - Modifies the padding of the island object to be huge. Extends '.o-island'.
 *
 * Example Usage:
 * <div class="o-island">
 *     All alone...
 * </div>
 *
 */

.o-island
{
    display: block;
    padding: var(--t-gutter);
}

.o-islet
{
    display: block;
    padding: var(--t-gutter--small);
}

/* .o-island:after,.o-islet:after { display: table; clear: both; content: ''; } */ /* 1 */

.o-island > :last-child,
.o-islet > :last-child
{
    margin-bottom: 0;
}


/* ----- (extends .o-island) ----- */
.o-island--diminutive
{
    padding: var(--t-gutter--diminutive);
}

.o-island--tiny
{
    padding: var(--t-gutter--tiny);
}

.o-island--small
{
    padding: var(--t-gutter--small);
}

.o-island--medium
{
    padding: var(--t-gutter--medium);
}

.o-island--large
{
    padding: var(--t-gutter--large);
}

.o-island--huge
{
    padding: var(--t-gutter--huge);
}

/* ----- (extends .o-islet) ----- */
.o-islet--tiny
{
    padding: var(--t-gutter--diminutive);
}

.o-islet--small
{
    padding: var(--t-gutter--tiny);
}
