/**
 * IMPORTANT! You have only yourself to blame for not reading this message.
 *
 * Only use theme-prefix properties within your CSS.
 * Adjust the base custom properties and variables values only and then update the t-prefix custom properties to use the base custom properties.
 * The build process will then take care of the rest updating the t-prefix custom properties with the variables values you would expect.
 */

:root {

    /**
     * Base Custom Properties
     */

     --clear-glass: transparent;
     --pure-white: #fff;
     --crusta-orange: #f77b44;
     --chateau-green: #40A350;
     --red-orange: #ff4136;
     --gallery-white: #eee;
     --jet-black: #222;
     --default-link: #194C97;

     --initial-rem-unit: 1rem;
     --initial-gutter-unit: var(--initial-rem-unit);

     --initial-font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;


    /**
     * Theme Custom Properties - Only adjust the variables values to use the base custom properties from above.
     * Do not add more theme custom properties unless it has been added for every other custom theme setting.
     */

    /* ----- Spacing ----- */
     --t-gutter--diminutive: calc(var(--initial-gutter-unit) * 0.125);
     --t-gutter--tiny: calc(var(--initial-gutter-unit) * 0.25);
     --t-gutter--small: calc(var(--initial-gutter-unit) * 0.5);
     --t-gutter--medium: calc(var(--initial-gutter-unit) * 0.75);
     --t-gutter: var(--initial-gutter-unit);
     --t-gutter--large: calc(var(--initial-gutter-unit) * 1.5);
     --t-gutter--huge: calc(var(--initial-gutter-unit) * 2);
     --t-gutter--gargantuan: calc(var(--initial-gutter-unit) * 3);
     --t-gutter--colossal: calc(var(--initial-gutter-unit) * 4);

    /* ----- Fonts -----*/
    --t-font-stack-content: var(--initial-font-family);

    --t-size-body-copy: calc(var(--initial-rem-unit) * 0.875);

    /* ----- Colors (Text) ----- */
     --t-color-hyperlink: var(--default-link);
     --t-color-content-text:var(--jet-black);
    /* ----- Colors (Background) ----- */
     --t-background-body: var(--pure-white);
     --t-background-stencil: var(--gallery-white);
     --t-background-stencil--loading: var(--pure-white);
     --t-background-success: var(--chateau-green);
     --t-background-alert: var(--crusta-orange);
     --t-background-failure: var(--red-orange);
}
