/**
 * Default element styles
 */

/* 'Default' link styling css tip: https://twitter.com/nathansmith/status/673925683957993472 */
.layout__body a[href]:not([class]) {
  color:#446DA1;
  text-decoration: underline;
}

hr { border-color:#000;}

/**
 * Theme styling for backgrounds
 */
.t-background { background-color: #000; }
    .t-background--primary { background-color:#000; }
    .t-background--secondary { background-color:#000; }
    .t-background--tertiary { background-color:#000; }
    .t-background--accent { background-color:#000; }
    .t-background--accent-secondary { background-color:#000; }


/**
 * Theme styling for SVG fills
 */
.t-fill { fill: #000; }
    .t-fill--primary { fill:#000; }
    .t-fill--secondary { fill:#000; }
    .t-fill--tertiary { fill:#000; }
    .t-fill--accent { fill:#000; }
    .t-fill--accent-secondary { fill:#000; }


/**
 * Theme styling for text color styles
 */
.t-color { fill: #000; }
    .t-color--primary { fill:#000; }
    .t-color--secondary { fill:#000; }
    .t-color--tertiary { fill:#000; }
    .t-color--accent { fill:#000; }
    .t-color--accent-secondary { fill:#000; }

/**
 * Theme status colors when text needs to be set to a certain color due to a status
 */
.t-status{ color: #fff;}

.t-status--success{color: #70ad47;}
.t-status--warning{color: #D43900;}
.t-status--notify{color: #D43900;}
.t-status--inform{ color: #1C4E97;}
