/**
 * Adds cursor:pointer for that should appear clickable
 */

/* stylelint-disable declaration-no-important */

.u-clickable
{
    cursor: pointer;
}


/**
 * Sets a cursor to be styled as the default - used for overriding where the cursor is set to something else.
 */

.u-normalize-cursor
{
    cursor: default !important;
}


/**
 * Control whether the user can select the text or not.
 */

.u-prevent-selection
{
    user-select: none;
}
