/**
 * Height utilities
 *
 * In the event height needs to be set on an element in a generic fashion - specific heights should be set on a component level
 *
 */

/* stylelint-disable declaration-no-important */

.u-height--zero
{
    height: 0 !important;
}

.u-height--one-quarter-view-height
{
    height: 25vh !important;
}

.u-height--half-view-height
{
    height: 50vh !important;
}

.u-height--three-quarters-view-height
{
    height: 75vh !important;
}

.u-height--full-view-height
{
    height: 100vh !important;
}

.u-height--auto
{
    height: auto !important;
}
