/**
 * Text alignment classes
 */

/* stylelint-disable declaration-no-important */

.u-text-left
{
    text-align: left !important;
}

@media only screen and (max-width: 30em)
{
    .u-text-left--phone-portrait-only
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-text-left--phone-landscape-up
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.999375em)
{
    .u-text-left--phone-landscape-only
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-text-left--tablet-portrait-up
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.999375em)
{
    .u-text-left--tablet-portrait-only
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-text-left--tablet-landscape-up
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.999375em)
{
    .u-text-left--tablet-landscape-only
    {
        text-align: left !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-text-left--desktop-up
    {
        text-align: left !important;
    }
}

.u-text-right
{
    text-align: right !important;
}

@media only screen and (max-width: 30em)
{
    .u-text-right--phone-portrait-only
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-text-right--phone-landscape-up
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.999375em)
{
    .u-text-right--phone-landscape-only
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-text-right--tablet-portrait-up
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.999375em)
{
    .u-text-right--tablet-portrait-only
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-text-right--tablet-landscape-up
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.999375em)
{
    .u-text-right--tablet-landscape-only
    {
        text-align: right !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-text-right--desktop-up
    {
        text-align: right !important;
    }
}

.u-text-center
{
    text-align: center !important;
}

@media only screen and (max-width: 30em)
{
    .u-text-center--phone-portrait-only
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-text-center--phone-landscape-up
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.999375em)
{
    .u-text-center--phone-landscape-only
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-text-center--tablet-portrait-up
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.999375em)
{
    .u-text-center---tablet-portrait-only
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-text-center--tablet-landscape-up
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.999375em)
{
    .u-text-center--tablet-landscape-only
    {
        text-align: center !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-text-center--desktop-up
    {
        text-align: center !important;
    }
}
