/**
 * Text alignment classes
 */

.u-text-left { text-align: left !important; }
.u-text-right { text-align: right !important; }
.u-text-center { text-align: center !important; }


/**
 * Float classes
 */

.u-pull-left { float: left; }
.u-pull-right { float: right; }


/**
 * Used to force an element's display
 */

.u-force-block { display: block !important; }
.u-force-inline-block { display: inline-block !important; }
.u-force-inline { display: inline !important; }


/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */

.u-hidden,
[hidden] { display: none !important; }


/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }


/**
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

    .u-visually-hidden.u-focusable:active,
    .u-visually-hidden.u-focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }


/**
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible { visibility: hidden; }


/**
 * Removes the margin from elements
 */

.u-strip-margin { margin: 0; }
.u-strip-margin-top{ margin-top:0; }
.u-strip-margin-bottom{ margin-bottom:0; }
.u-strip-margin-left{ margin-left:0; }
.u-strip-margin-right{ margin-right:0; }

/**
 * Removes the border from elements
 */

.u-strip-border { border: 0; }
.u-strip-border-top{ border-top:0; }
.u-strip-border-bottom{ border-bottom:0; }
.u-strip-border-left{ border-left:0; }
.u-strip-border-right{ border-right:0; }


/**
 * Removes the padding from elements
 */

.u-strip-padding { padding: 0; }
.u-strip-padding-top{ padding-top:0; }
.u-strip-padding-bottom{ padding-bottom:0; }
.u-strip-padding-left{ padding-left:0; }
.u-strip-padding-right{ padding-right:0; }


/**
 * Changes text case to uppercase
 */

.u-all-caps { text-transform: uppercase; }


/**
 * Adds different margin sizes
 */

.u-aside-top { margin-top:1rem; }
.u-aside-bottom { margin-bottom:1rem; }
.u-aside-left { margin-left:1rem; }
.u-aside-right { margin-right:1rem; }

.u-aside-top--small { margin-top:0.5rem; }
.u-aside-bottom--small { margin-bottom:0.5rem; }
.u-aside-left--small { margin-left:0.5rem; }
.u-aside-right--small { margin-right:0.5rem; }


/**
 * Uses Flexbox to vertically center align things
 */

.u-align-vertical-center { display: flex; align-items: center; }

/**
 * Forces full width - sometimes useful when attempting to deal with odd flex-box quirks in combination with the inline-block grid
 */

.u-full-width { width: 100%; }


/**
 * This will clip overflow. This affords some useful properties to the element. It won't wrap under floats. Will also contain any floated children.
 */

.u-overflow-hidden { overflow: hidden; }


/**
 * Adds overflow:auto for areas where a scroll bar is wanted
 */

.u-overflow-auto { overflow: auto; }


/**
 * Adds overflow-y:auto for areas where a scroll bar is wanted vertically but not horizontally
 */

.u-overflow-y-auto { overflow-y: auto; overflow-x: hidden; }


/**
 * Adds cursor:pointer for that should appear clickable
 */

.u-clickable { cursor: pointer; }


/**
 * Sets a cursor to be styled as the default - used for overriding where the cursor is set to something else.
 */

.u-normalize-cursor { cursor: default; }


/**
 * Forces field to be one line and adds an ellipsis if the text escapes the bounds of it's container
 */

.u-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


/**
 * Absolutely position an element
 */

.u-position-absolute {
  position: absolute !important;
}


/**
 * Pins to all corners by default. But when a width and/or height are
 * provided, the element will be centered in its nearest relatively-positioned
 * ancestor.
 */

.u-position-absolute-center {
  bottom: 0 !important;
  left: 0 !important;
  margin: auto !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}


/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */
.u-position-fixed {
  position: fixed !important;
  backface-visibility: hidden; /* 1 */
}

.u-position-relative {
  position: relative !important;
}

.u-position-static {
  position: static !important;
}


/**
 * Clean link
 *
 * A link without any text-decoration at all.
 */

.u-linkClean,
.u-linkClean:hover,
.u-linkClean:focus,
.u-linkClean:active {
  text-decoration: none !important;
}


/**
 * Link complex
 *
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should display the underline when the
 * link is the subject of user interaction.
 *
 * Example HTML:
 *
 * <a class="u-linkComplex" href="#">
 *   Link complex
 *   <span class="u-linkComplexTarget">target</span>
 * </a>
 */
.u-linkComplex,
.u-linkComplex:hover,
.u-linkComplex:focus,
.u-linkComplex:active {
  text-decoration: none !important;
}

.u-linkComplex:hover .u-linkComplexTarget,
.u-linkComplex:focus .u-linkComplexTarget,
.u-linkComplex:active .u-linkComplexTarget {
  text-decoration: underline !important;
}


/**
 * Block-level link
 *
 * Combination of traits commonly used in vertical navigation lists.
 */
.u-linkBlock,
.u-linkBlock:hover,
.u-linkBlock:focus,
.u-linkBlock:active {
  display: block !important;
  text-decoration: none !important;
}