/**
 * Adds different margin sizes which can be used for spacing
 */

.u-aside-top { margin-top:var(--t-gutter) !important; }
.u-aside-bottom { margin-bottom:var(--t-gutter) !important; }
.u-aside-left { margin-left:var(--t-gutter) !important; }
.u-aside-right { margin-right:var(--t-gutter) !important; }

