/**
 * Adds cursor:pointer for that should appear clickable
 */

.u-clickable { cursor: pointer; }


/**
 * Sets a cursor to be styled as the default - used for overriding where the cursor is set to something else.
 */

.u-normalize-cursor { cursor: default; }

