/**
 * Used to force an element's display
 */

.u-force-block { display: block !important; }
.u-force-inline-block { display: inline-block !important; }
.u-force-inline { display: inline !important; }


/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */

.u-hidden,
[hidden] { display: none !important; }


/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }


/**
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

    .u-visually-hidden.u-focusable:active,
    .u-visually-hidden.u-focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }


/**
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible { visibility: hidden; }


