/**
 * Height utilities
 *
 * In the event height needs to be set on an element in a generic fashion - specific heights should be set on a component level
 *
 */

.u-height--zero { height: 0; }
.u-height--one-quarter-view-height { height: 25vh; }
.u-height--half-view-height { height: 50vh; }
.u-height--three-quarters-view-height { height: 75vh; }
.u-height--full-view-height { height: 100vh; }
