/**
 * Removes the border from elements
 */

.u-strip-border
{
    border: 0 !important;
}

@media only screen and (max-width: 30em)
{
    .u-strip-border--phone-portrait-only
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-strip-border--phone-landscape-up
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.9999375em)
{
    .u-strip-border--phone-landscape-only
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-strip-border--tablet-portrait-up
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.9999375em)
{
    .u-strip-border--tablet-portrait-only
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-strip-border--tablet-landscape-up
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.9999375em)
{
    .u-strip-border--tablet-landscape-only
    {
        border: 0 !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-strip-border--desktop-up
    {
        border: 0 !important;
    }
}

.u-strip-border-top
{
    border-top: 0 !important;
}

@media only screen and (max-width: 30em)
{
    .u-strip-border-top--phone-portrait-only
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-strip-border-top--phone-landscape-up
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.9999375em)
{
    .u-strip-border-top--phone-landscape-only
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-strip-border-top--tablet-portrait-up
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.9999375em)
{
    .u-strip-border-top--tablet-portrait-only
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-strip-border-top--tablet-landscape-up
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.9999375em)
{
    .u-strip-border-top--tablet-landscape-only
    {
        border-top: 0 !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-strip-border-top--desktop-up
    {
        border-top: 0 !important;
    }
}

.u-strip-border-bottom
{
    border-bottom: 0 !important;
}

@media only screen and (max-width: 30em)
{
    .u-strip-border-bottom--phone-portrait-only
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-strip-border-bottom--phone-landscape-up
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.9999375em)
{
    .u-strip-border-bottom--phone-landscape-only
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-strip-border-bottom--tablet-portrait-up
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.9999375em)
{
    .u-strip-border-bottom--tablet-portrait-only
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-strip-border-bottom--tablet-landscape-up
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.9999375em)
{
    .u-strip-border-bottom--tablet-landscape-only
    {
        border-bottom: 0 !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-strip-border-bottom--desktop-up
    {
        border-bottom: 0 !important;
    }
}

.u-strip-border-left
{
    border-left: 0 !important;
}

@media only screen and (max-width: 30em)
{
    .u-strip-border-left--phone-portrait-only
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-strip-border-left--phone-landscape-up
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.9999375em)
{
    .u-strip-border-left--phone-landscape-only
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-strip-border-left--tablet-portrait-up
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.9999375em)
{
    .u-strip-border-left--tablet-portrait-only
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-strip-border-left--tablet-landscape-up
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.9999375em)
{
    .u-strip-border-left--tablet-landscape-only
    {
        border-left: 0 !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-strip-border-left--desktop-up
    {
        border-left: 0 !important;
    }
}

.u-strip-border-right
{
    border-right: 0 !important;
}

@media only screen and (max-width: 30em)
{
    .u-strip-border-right--phone-portrait-only
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 30em)
{
    .u-strip-border-right--phone-landscape-up
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.9999375em)
{
    .u-strip-border-right--phone-landscape-only
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 40em)
{
    .u-strip-border-right--tablet-portrait-up
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.9999375em)
{
    .u-strip-border-right--tablet-portrait-only
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 64em)
{
    .u-strip-border-right--tablet-landscape-up
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.9999375em)
{
    .u-strip-border-right--tablet-landscape-only
    {
        border-right: 0 !important;
    }
}

@media only screen and (min-width: 80em)
{
    .u-strip-border-right--desktop-up
    {
        border-right: 0 !important;
    }
}

/**
 * Removes the border radius from elements
 */
.u-strip-border-radius
{
    border-radius: 0 !important;
}

.u-strip-border-top-left-radius
{
    border-top-left-radius: 0 !important;
}

.u-strip-border-top-right-radius
{
    border-top-right-radius: 0 !important;
}

.u-strip-border-bottom-left-radius
{
    border-bottom-left-radius: 0 !important;
}

.u-strip-border-bottom-right-radius
{
    border-bottom-right-radius: 0 !important;
}
