/**
 * Removes the margin from elements
 */

.u-strip-margin { margin: 0; }
.u-strip-margin-top{ margin-top:0; }
.u-strip-margin-bottom{ margin-bottom:0; }
.u-strip-margin-left{ margin-left:0; }
.u-strip-margin-right{ margin-right:0; }

