/**
 * Forces field to be one line and adds an ellipsis if the text escapes the bounds of it's container
 */

.u-text-ellipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/**
 * Forces the element to have an underline
 */

.u-text-underline
{
    text-decoration: underline;
}


/**
 * Word breaking
 *
 * Specify whether or not the browser may break lines within words in order to prevent overflow when
 * an otherwise unbreakable string is too long to fit in its containing box.
 */

.u-text-break
{
    word-wrap: break-word !important;
}


/**
 * Whitespace adjustments
 *
 * Used to either allow whitespace wrapping or prevent it from wrapping.
 */

.u-text-whitespace--normal
{
    white-space: normal;
}

.u-text-whitespace--nowrap
{
    white-space: nowrap;
}
