/**
 * Forces field to be one line and adds an ellipsis if the text escapes the bounds of it's container
 */

.u-ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


/**
 * Forces the element to have an underline
 */

.u-text-underline { text-decoration:underline; }

