/**
 * Avatar Component
 *
 * Avatars will have different sizes based on context, so use avatar modifiers to account for it.
 *
 * By setting the avatars to include a background image of a smaller base-64 encoded version of itself, it you help mimic progressive image rendering
 * which will allow the area to appear blurry when scaled up and once the image loads, it should appear above the blurred image.
 * Source: https://blog.placeit.net/ux-tactics-make-slow-things-seem-faster/
 *
 * Notes:
 * N1. 'background-size: cover;' within '.c-avatar' is used when loading background-urls to mimic progressive image rendering
 *
 */

.c-avatar { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
.c-avatar--gargantuan { height: 8.75rem; width: 8.75rem; }
.c-avatar--huge { height: 7.5rem; width: 7.5rem; }
.c-avatar--large { height: 6.25rem; width: 6.25rem; }
.c-avatar--medium { height: 3.75rem; width: 3.75rem; }
.c-avatar--small { height: 2.5rem; width: 2.5rem; }
.c-avatar--tiny { height:1.25rem;  width: 1.25rem; }

@media only screen and (max-width: 30em) {
    .c-avatar--phone-portrait-only { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--phone-portrait-only { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--phone-portrait-only { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--phone-portrait-only { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--phone-portrait-only { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--phone-portrait-only { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--phone-portrait-only { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 30em) {
    .c-avatar--phone-landscape-up { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--phone-landscape-up { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--phone-landscape-up { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--phone-landscape-up { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--phone-landscape-up { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--phone-landscape-up { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--phone-landscape-up { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 30em) and (max-width: 39.9375em) {
    .c-avatar--phone-landscape-only { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--phone-landscape-only { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--phone-landscape-only { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--phone-landscape-only { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--phone-landscape-only { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--phone-landscape-only { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--phone-landscape-only { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 40em) {
    .c-avatar--tablet-portrait-up { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--tablet-portrait-up { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--tablet-portrait-up { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--tablet-portrait-up { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--tablet-portrait-up { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--tablet-portrait-up { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--tablet-portrait-up { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 40em) and (max-width: 63.9375em) {
    .c-avatar--tablet-portrait-only { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--tablet-portrait-only { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--tablet-portrait-only { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--tablet-portrait-only { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--tablet-portrait-only { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--tablet-portrait-only { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--tablet-portrait-only { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 64em) {
    .c-avatar--tablet-landscape-up { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--large--tablet-landscape-up { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--large--tablet-landscape-up { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--tablet-landscape-up { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--tablet-landscape-up { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--tablet-landscape-up { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--tablet-landscape-up { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {
    .c-avatar--tablet-landscape-only { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--tablet-landscape-only { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--tablet-landscape-only { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--tablet-landscape-only { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--tablet-landscape-only { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--tablet-landscape-only { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--tablet-landscape-only { height:1.25rem;  width: 1.25rem; }
}

@media only screen and (min-width: 80em) {
    .c-avatar--desktop-up { height: 5rem; width: 5rem; background-size: cover; overflow: hidden; }
    .c-avatar--gargantuan--desktop-up { height: 8.75rem; width: 8.75rem; }
    .c-avatar--huge--desktop-up { height: 7.5rem; width: 7.5rem; }
    .c-avatar--large--desktop-up { height: 6.25rem; width: 6.25rem; }
    .c-avatar--medium--desktop-up { height: 3.75rem; width: 3.75rem; }
    .c-avatar--small--desktop-up { height: 2.5rem; width: 2.5rem; }
    .c-avatar--tiny--desktop-up { height:1.25rem;  width: 1.25rem; }
}
