/**
 * Loading Indicator Component
 *
 * A loading indicator while doesn't speed up a page, it does improve the "perceived" load time which is often just as valuable as improving the actual load time.
 * Source: http://uxmovement.com/buttons/how-to-make-progress-bars-feel-faster-to-users
 *
 */

.c-loading {
    font-size: 1rem;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    animation: spinner 1.1s infinite ease;
}

@keyframes spinner {
    0%, 100% {
        box-shadow: 0 -2.6em 0 0 #c0c0c0, 1.8em -1.8em 0 0 rgba(192,192,192, 0.2), 2.5em 0 0 0 rgba(192,192,192, 0.2), 1.75em 1.75em 0 0 rgba(192,192,192, 0.2), 0 2.5em 0 0 rgba(192,192,192, 0.2), -1.8em 1.8em 0 0 rgba(192,192,192, 0.2), -2.6em 0 0 0 rgba(192,192,192, 0.5), -1.8em -1.8em 0 0 rgba(192,192,192, 0.7);
    }

    12.5% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.7), 1.8em -1.8em 0 0 #c0c0c0, 2.5em 0 0 0 rgba(192,192,192, 0.2), 1.75em 1.75em 0 0 rgba(192,192,192, 0.2), 0 2.5em 0 0 rgba(192,192,192, 0.2), -1.8em 1.8em 0 0 rgba(192,192,192, 0.2), -2.6em 0 0 0 rgba(192,192,192, 0.2), -1.8em -1.8em 0 0 rgba(192,192,192, 0.5);
    }

    25% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.5), 1.8em -1.8em 0 0 rgba(192,192,192, 0.7), 2.5em 0 0 0 #c0c0c0, 1.75em 1.75em 0 0 rgba(192,192,192, 0.2), 0 2.5em 0 0 rgba(192,192,192, 0.2), -1.8em 1.8em 0 0 rgba(192,192,192, 0.2), -2.6em 0 0 0 rgba(192,192,192, 0.2), -1.8em -1.8em 0 0 rgba(192,192,192, 0.2);
    }

    37.5% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.2), 1.8em -1.8em 0 0 rgba(192,192,192, 0.5), 2.5em 0 0 0 rgba(192,192,192, 0.7), 1.75em 1.75em 0 0 #c0c0c0, 0 2.5em 0 0 rgba(192,192,192, 0.2), -1.8em 1.8em 0 0 rgba(192,192,192, 0.2), -2.6em 0 0 0 rgba(192,192,192, 0.2), -1.8em -1.8em 0 0 rgba(192,192,192, 0.2);
    }

    50% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.2), 1.8em -1.8em 0 0 rgba(192,192,192, 0.2), 2.5em 0 0 0 rgba(192,192,192, 0.5), 1.75em 1.75em 0 0 rgba(192,192,192, 0.7), 0 2.5em 0 0 #c0c0c0, -1.8em 1.8em 0 0 rgba(192,192,192, 0.2), -2.6em 0 0 0 rgba(192,192,192, 0.2), -1.8em -1.8em 0 0 rgba(192,192,192, 0.2);
    }

    62.5% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.2), 1.8em -1.8em 0 0 rgba(192,192,192, 0.2), 2.5em 0 0 0 rgba(192,192,192, 0.2), 1.75em 1.75em 0 0 rgba(192,192,192, 0.5), 0 2.5em 0 0 rgba(192,192,192, 0.7), -1.8em 1.8em 0 0 #c0c0c0, -2.6em 0 0 0 rgba(192,192,192, 0.2), -1.8em -1.8em 0 0 rgba(192,192,192, 0.2);
    }

    75% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.2), 1.8em -1.8em 0 0 rgba(192,192,192, 0.2), 2.5em 0 0 0 rgba(192,192,192, 0.2), 1.75em 1.75em 0 0 rgba(192,192,192, 0.2), 0 2.5em 0 0 rgba(192,192,192, 0.5), -1.8em 1.8em 0 0 rgba(192,192,192, 0.7), -2.6em 0 0 0 #c0c0c0, -1.8em -1.8em 0 0 rgba(192,192,192, 0.2);
    }

    87.5% {
        box-shadow: 0 -2.6em 0 0 rgba(192,192,192, 0.2), 1.8em -1.8em 0 0 rgba(192,192,192, 0.2), 2.5em 0 0 0 rgba(192,192,192, 0.2), 1.75em 1.75em 0 0 rgba(192,192,192, 0.2), 0 2.5em 0 0 rgba(192,192,192, 0.2), -1.8em 1.8em 0 0 rgba(192,192,192, 0.5), -2.6em 0 0 0 rgba(192,192,192, 0.7), -1.8em -1.8em 0 0 #c0c0c0;
    }
}
