/**
 * Loading Indicator Component
 *
 * A loading indicator while doesn't speed up a page, it does improve the "perceived" load time which is often just as valuable as improving the actual load time.
 * Source: http://uxmovement.com/buttons/how-to-make-progress-bars-feel-faster-to-users
 *
 * Notes:
 * N1. If the parent container has no set height so it appears as if a float was never cleared, so set a min-height of the loading indicator
 *
 */

.c-preloader{ min-height:50px /* N1 */; }
.c-preloader-img { position: absolute; height: 50px; width: 50px; top: 50%; left: 50%; }

@keyframes preloader {
    0% {-moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    25% {-moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg);}
    50% {-moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
    75% {-moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg);}
    100% {-moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
