/**
 * Tabs Component
 *
 * Keep related content in a single container.
 *
 * Dependency: Navigation Abstraction Object
 *
 * Example Usage:
 * <div class="c-tabs">
 *  <ul class="c-tabs__header">
 *      <li class="c-tabs__item c-tabs__item--selected">
 *          <a href="#"> </a>
 *      </li>
        <li class="c-tabs__item">
            <a href="#"> </a>
        </li>
 *  </ul>
 * </div>
 *
 * Notes:
 * N1. Enforces that `border` of the selected tab item covers the `border` from  the tab header
 *
 */


.c-tabs
{
}

.c-tabs__header
{
    margin-top: -1rem;
}

.c-tabs__item
{
    border: 0;
    border-bottom: 5px solid transparent;
}

.c-tabs__item.is-selected
{
    border-bottom-color: currentColor;
}

.c-tabs__link
{
    padding-right: var(--t-gutter--small);
    padding-left: var(--t-gutter--small);
}

.c-tabs--card
{
}

.c-tabs--card .c-tabs__header
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.c-tabs--card .c-tabs__item
{
    margin-bottom: -1px;
    border: 0;
}

.c-tabs--card .c-tabs__item.is-selected
{
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-bottom-width: 2px /* N1 */;
    border-bottom-color: var(--t-background-content-block);
}

.c-tabs--card .c-tabs__link
{
    padding-top: var(--t-gutter--small);
}

.c-tabs--indented .c-tabs__header
{
    padding-right: var(--t-gutter--medium);
    padding-left: var(--t-gutter--medium);
}
