/**
 * Toggle Button Component
 *
 * A button which is styled in a way which can be used to toggle between different views or a single element which is in close proximity in which
 * it is clear that clicking on the button toggles it.
 *
 */

.c-toggle-button { }
.c-toggle-button--header { margin:-1rem 0 0; }

.c-toggle-button__section { }
.c-toggle-button__item { border:0; border-bottom:5px solid transparent; }
.c-toggle-button__item.is-selected { border-color:currentColor; }
