/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

/**
 * Notes:
 * N1. The selector-no-universal rule warning is aimed at flagging possible slow rules due to the universal selector, such as cases
 *     where the universal selector may be found as a key part of a selector. In some cases, even if it is the key part of a selector
 *     it may have little impact on page render, it depends on the circumstances such as how the selector is being used or if
 *     peformance expensive styles are being applied - in the case of a print stylesheet it's acceptable.
 * Related: http://www.telerik.com/blogs/css-tip-star-selector-not-that-bad
 * Related: https://www.paulirish.com/2012/box-sizing-border-box-ftw/#content
 * Related: https://benfrain.com/css-performance-revisited-selectors-bloat-expensive-styles/#h-H1_10
 * Related: http://perfectionkills.com/profiling-css-for-fun-and-profit-optimization-notes/
 *
 */

/* stylelint-disable selector-max-universal */

@media print
{
    *,
    *::before,
    *::after,
    *::first-letter,
    *::first-line
    {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]::after
    {
        content: " (" attr(href) ")";
    }

    abbr[title]::after
    {
        content: " (" attr(title) ")";
    }

    /**
    * Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
    */
    a[href^="#"]::after,
    a[href^="javascript:"]::after
    {
        content: "";
    }

    pre,
    blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /**
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}

/* stylelint-enable selector-max-universal */
