/**
 * An Archipelago groups a cluster of o-islands & o-islets
 * Example: http://jsbin.com/modegawiqo/1/edit?html,css,js,output
 */

.c-archipelago
{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.c-archipelago .c-seastack
{
    display: flex;
    padding: 0.375rem 0.375rem 0;
    width: 14rem;
}

.c-seastack > div,
.c-archipelago .o-island > .u-force-block
{
    width: 100%;
}

.c-archipelago > .o-island
{
    display: flex;
    flex: 1.5;
}

.c-archipelago > .o-islet
{
    flex: 1;
}

.c-archipelago > .o-island.u-overflow-y-auto
{
    margin-right: 1rem; /* Due to o-islet causing an overlap on the scroll bar */
}
