/**
 * Avatar Component
 *
 * Avatars will have different sizes based on context, so use avatar modifiers to account for it.
 *
 * By setting the avatars to include a background image of a smaller base-64 encoded version of itself, it you help mimic progressive image rendering
 * which will allow the area to appear blurry when scaled up and once the image loads, it should appear above the blurred image.
 * Source: https://blog.placeit.net/ux-tactics-make-slow-things-seem-faster/
 *
 * Notes:
 * N1. `background-size: cover;` within `.c-avatar` is used when loading background-urls to mimic progressive image rendering
 * N2. Avatars have a fixed width & height so don't treat them as a fluid image.
 *
 */

.c-avatar
{
    height: 5rem;
    width: 5rem;
    background-size: cover;
    overflow: hidden;
    max-width: none; /* N2 */
}

.c-avatar--huge
{
    width: 7.5rem;
    height: 7.5rem;
}

.c-avatar--large
{
    width: 6.25rem;
    height: 6.25rem;
}

.c-avatar--medium
{
    width: 3.75rem;
    height: 3.75rem;
}

.c-avatar--small
{
    width: 2.5rem;
    height: 2.5rem;
}

.c-avatar--tiny
{
    width: 1.25rem;
    height: 1.25rem;
}

@media only screen and (max-width: 30em)
{
    .c-avatar--phone-portrait-only
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--phone-portrait-only
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--phone-portrait-only
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--phone-portrait-only
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--phone-portrait-only
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--phone-portrait-only
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--phone-portrait-only
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 30em)
{
    .c-avatar--phone-landscape-up
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--phone-landscape-up
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--phone-landscape-up
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--phone-landscape-up
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--phone-landscape-up
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--phone-landscape-up
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--phone-landscape-up
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.999375em)
{
    .c-avatar--phone-landscape-only
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--phone-landscape-only
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--phone-landscape-only
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--phone-landscape-only
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--phone-landscape-only
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--phone-landscape-only
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--phone-landscape-only
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 40em)
{
    .c-avatar--tablet-portrait-up
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--tablet-portrait-up
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--tablet-portrait-up
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--tablet-portrait-up
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--tablet-portrait-up
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--tablet-portrait-up
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--tablet-portrait-up
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.999375em)
{
    .c-avatar--tablet-portrait-only
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--tablet-portrait-only
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--tablet-portrait-only
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--tablet-portrait-only
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--tablet-portrait-only
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--tablet-portrait-only
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--tablet-portrait-only
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 64em)
{
    .c-avatar--tablet-landscape-up
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--tablet-landscape-up
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--tablet-landscape-up
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--tablet-landscape-up
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--tablet-landscape-up
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--tablet-landscape-up
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--tablet-landscape-up
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.999375em)
{
    .c-avatar--tablet-landscape-only
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--tablet-landscape-only
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--tablet-landscape-only
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--tablet-landscape-only
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--tablet-landscape-only
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--tablet-landscape-only
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--tablet-landscape-only
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media only screen and (min-width: 80em)
{
    .c-avatar--desktop-up
    {
        overflow: hidden;
        width: 5rem;
        height: 5rem;
        background-size: cover;
    }

    .c-avatar--gargantuan--desktop-up
    {
        width: 8.75rem;
        height: 8.75rem;
    }

    .c-avatar--huge--desktop-up
    {
        width: 7.5rem;
        height: 7.5rem;
    }

    .c-avatar--large--desktop-up
    {
        width: 6.25rem;
        height: 6.25rem;
    }

    .c-avatar--medium--desktop-up
    {
        width: 3.75rem;
        height: 3.75rem;
    }

    .c-avatar--small--desktop-up
    {
        width: 2.5rem;
        height: 2.5rem;
    }

    .c-avatar--tiny--desktop-up
    {
        width: 1.25rem;
        height: 1.25rem;
    }
}
