/**
 * Expansion Limit Component
 *
 * Used to enforce a max-height to for cases where the content exceeds a certain limit.
 *
 * Useful in cases where cognitive overload is possible in a list of items by limiting
 * the amount of items visible by default.
 * Source: http://ui-patterns.com/patterns/Limited-choice
 *
 * Dependency: Depends on `overflow-y: auto;` so it either needs to be added via a
 *             utility class or within the component
 *
 * Example Usage:
 * <div class="c-expansion-limit">
 *  <ul>
 *      <li>Understand, understand,</li>
 *      <li>Understand, understand the concept,</li>
 *      <li>The concept of love-love-love-love-love.</li>
 *      <li>....</li>
 *      <li>....</li>
 *  </ul>
 * </div>
 *
 */

.c-expansion-limit
{
    max-height: calc(var(--t-gutter) * 12.5);
}

.c-expansion-limit--diminutive
{
    max-height: calc(var(--t-gutter--diminutive) * 12.5);
}

.c-expansion-limit--tiny
{
    max-height: calc(var(--t-gutter--tiny) * 12.5);
}

.c-expansion-limit--small
{
    max-height: calc(var(--t-gutter--small) * 12.5);
}

.c-expansion-limit--medium
{
    max-height: calc(var(--t-gutter--medium) * 12.5);
}

.c-expansion-limit--large
{
    max-height: calc(var(--t-gutter--large) * 12.5);
}

.c-expansion-limit--huge
{
    max-height: calc(var(--t-gutter--huge) * 12.5);
}

.c-expansion-limit--gargantuan
{
    max-height: calc(var(--t-gutter--gargantuan) * 12.5);
}

.c-expansion-limit--colossal
{
    max-height: calc(var(--t-gutter--colossal) * 12.5);
}
