/**
 * Marginal Highlight Component
 *
 * Highlight sections of content that is not meant to be pulled out of content like a block-quote in a sidebar.
 *
 * Notes:
 * N1. Marginal Highlight should wrap the content and be applied as a background with some padding to allow for a background
 * pattern to cater those who suffer from color blindness.
 * Source: https://medium.com/intrepid-s-insights/designing-for-and-with-color-blindness-48392aab3d87#.69f8252r0
 *
 * Example Usage:
 * <div class="c-marginal-highlight c-marginal-highlight--success">
 *  <!-- Container within the marginal-highlight should have a background color so the highlight doesn't bleed through -->
 *   <div class="t-background">
 *       This item has been approved!
 *   </div>
 * </div>
 *
 */

.c-marginal-highlight
{
    padding-left: var(--t-gutter); /* N1 */
}

.c-marginal-highlight--success
{
    background-color: var(--t-background-success);
    background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.1) 50%);
    background-size: 8px 8px;
}

.c-marginal-highlight--alert
{
    background-color: var(--t-background-alert);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,0.5) 5px, rgba(255,255,255,0.5) 10px);
}

.c-marginal-highlight--failure
{
    background-color: var(--t-background-failure);
}

@media only screen and (max-width: 30em)
{
    .c-marginal-highlight--phone-portrait-only
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 30em)
{
    .c-marginal-highlight--phone-landscape-up
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 30em) and (max-width: 39.999375em)
{
    .c-marginal-highlight--phone-landscape-only
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 40em)
{
    .c-marginal-highlight--tablet-portrait-up
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 40em) and (max-width: 63.999375em)
{
    .c-marginal-highlight--tablet-portrait-only
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 64em)
{
    .c-marginal-highlight--tablet-landscape-up
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 64em) and (max-width: 79.999375em)
{
    .c-marginal-highlight--tablet-landscape-only
    {
        padding-left: var(--t-gutter);
    }
}

@media only screen and (min-width: 80em)
{
    .c-marginal-highlight--desktop-up
    {
        padding-left: var(--t-gutter);
    }
}
