/**
 * Loading Indicator Component
 *
 * A loading indicator while doesn't speed up a page, it does improve the "perceived" load time which is often just as valuable as improving the actual load time.
 * Source: http://uxmovement.com/buttons/how-to-make-progress-bars-feel-faster-to-users
 *
 * Notes:
 * N1. If the parent container has no set height so it appears as if a float was never cleared, so set a min-height of the loading indicator
 *
 */

.c-preloader
{
    min-height: 50px; /* N1 */
}

.c-preloader-img
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
}

@keyframes preloader
{
    0%
    {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    25%
    {
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }

    50%
    {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    75%
    {
        -webkit-transform: rotate(270deg);
           -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
             -o-transform: rotate(270deg);
                transform: rotate(270deg);
    }

    100%
    {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
