/**
 * Search Form Component
 *
 * Stylized Search Form for when a normal input and button just doesn't cut it.
 *
 * Dependency: Third Party Validation
 *
 * Example Usage:
 * <div class="c-search-form">
 *      <label for="Search" class="c-search-form__label">Search</label>
 *     <div class="c-search-form__bar">
 *       <input id="Search" type="search" data-role="searchform" class="c-search-form__input u-strip-border" maxlength="100">
 *      <button type="button" class="c-search-form__button t-background--primary u-strip-border">
 *            <svg class="c-search-form__button-icon t-fill--tertiary u-align-text-top" aria-hidden="true" width="13" height="14">
 *                <use xlink:href="~/Content/svg/symbols.svg?#search"></use>
 *            </svg>
 *            <span class="u-visually-hidden">Go</span>
 *        </button>
 *    </div>
 * </div>
 *
 * Notes:
 * N1. This will need to be modified depending on the third party validation.
 *
 */


.c-search-form
{
}

.c-search-form__label
{
}

.c-search-form__bar
{
    display: flex;
    outline: 1px solid var(--t-border-content-block);
}

.c-search-form__input
{
    padding-left: var(--t-gutter--tiny);
    outline-offset: 1px;
    flex-grow: 1;
}

.c-search-form__button
{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.c-search-form__button-icon
{
}

/* ----- (extends .c-search-form__bar and child elements) ----- */
.c-search-form__bar.invalid
{
    outline-color: var(--t-border-invalid); /*N1*/
}

.invalid .c-search-form__button
{
    background-color: var(--t-background-failure); /*N1*/
}

.invalid .c-search-form__button-icon
{
    color: var(--t-svg-icon-failure); /*N1*/
}
