/**
 * Flag Object Pattern
 * http://csswizardry.com/2013/05/the-flag-object/
 *
 * The flag object is similar to the media object, however it has the ability to vertically align the image and the text
 *
 * Position Modifier(s):
 * .flag--reverse      - Modifies the image location (right instead of left). Extends '.flag' and can be combined with any of the 'Alignment Modifiers'.
 *
 * Alignment Modifier(s):
 * .flag--top         - Modifies the gutter of the media object to be tiny. Extends '.media'.
 * .flag--bottom        - Modifies the gutter of the media object to be small. Extends '.media'.
 *
 * Example Usage:
 * <div class="o-flag">
 *     <div class="o-flag__image">
 *         <img src="http://example.com/images/example.png" alt="" />
 *      </div>
 *      <div class="o-flag__body">
 *      </div>
 * </div>
 *
 */

.o-flag { display: table; width: 100%; }

    .o-flag__image,
    .o-flag__body { display: table-cell; vertical-align: middle; }

    .o-flag__image { padding-right: 0.625rem; }
        .o-flag__image > img, .o-flag__image > svg { display: block; max-width: none; }

    .o-flag__body { width: 100%; }

/* ----- (extends flag) ----- */
.o-flag--reverse .o-flag__image { padding-right: 0; padding-left: 0.625rem; }

.o-flag--top .o-flag__image,
.o-flag--top .o-flag__body { vertical-align: top; }

.o-flag--bottom .o-flag__image,
.o-flag--bottom .o-flag__body { vertical-align: bottom; }
