/**
 * Island Object Pattern
 * http://csswizardry.com/2011/10/the-island-object/
 *
 * Simple, boxed off content
 * 1. Micro clearfix (Grouped in Clearfix-styles), as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 *
 * Size Modifier(s):
 * .island--tiny         - Modifies the padding of the island object to be tiny. Extends '.island'.
 * .island--small        - Modifies the padding of the island object to be small. Extends '.island'.
 * .island--large        - Modifies the padding of the island object to be large. Extends '.island'.
 * .island--huge         - Modifies the padding of the island object to be huge. Extends '.island'.
 *
 * Example Usage:
 * <div class="island">
 *     All alone...
 * </div>
 *
 */

.o-island{ display: block; padding: 1.5rem; }

.o-islet { display: block; padding: 0.75rem;}

    /* .o-island:after,.o-islet:after { display: table; clear: both; content: ''; } */ /* 1 */

    .o-island > :last-child,.o-islet > :last-child { margin-bottom: 0; }


/* ----- (extends island) ----- */
.o-island--diminutive { padding: 0.1875rem; }

.o-island--tiny { padding: 0.375rem; }

.o-island--small { padding: 0.75rem; }

.o-island--large { padding: 3rem; }

.o-island--huge { padding: 6rem; }

/* ----- (extends islet) ----- */
.o-islet--tiny { padding: 0.1875rem; }

.o-islet--small { padding: 0.375rem; }