/**
 * Default element styles
 */

html { height:100%; }
body { background:var(--t-background-body); height:100%; }

/**
 * Custom Font Stack Styling
 * 1. Support: Chrome 51+, Firefox 46+
 *    Details: Specific font stacks may break the OS/Browser compatibility within the grid's letter spacing hack
 *    Supporting Details: https://github.com/yahoo/pure/issues/41
 *    Supporting Details: http://purecss.io/grids/#using-grids-with-custom-fonts
 *    Supporting Details: http://blog.purecss.io/post/60789414532/how-we-improved-grids-in-pure-030
 *    Fix: Since there is no one-size-fits-all solution with the letter spacing hack the approach to fix is to use
 *    a fix which is similar to the approach taken from Yahoo's PureCSS grid which is when setting the primary font
 *    stack, apply it to the grid column units along with `html`, `button`, `input`, `select`, and `textarea` while
 *    keeping the grid unit as the sans-serif which is similar to what normalize.css does.
 */
.l-grid { font-family:sans-serif /* 1 */; }

html, button, input, select, textarea, .l-grid [class *= "l-grid__column"] { font-family:var(--t-font-stack-content) /* 1 */; }

/**
 * 'Default' link styling css tip: https://twitter.com/nathansmith/status/673925683957993472
 * 2. Support: User Interface
 *    Details: In the event text-decoration: underline is used and the text is being overridden by a different color within the link the
               underline will pick up the default color and not the color of the text that was overridden on pseudo-classes such as :hover.
 *    Fix: Set the color to currentColor so on :hover, :focus, etc will pick up the currentColor of the text.
 *
 */
.l-global-content-container a[href]:not([class]) {
  color:var(--t-color-hyperlink);
  text-decoration: underline;
}

.l-global-content-container a[href]:not([class]):hover,.l-global-content-container a[href]:not([class]):active {
  color:currentColor /* 2 */;
  text-decoration: underline;
}

hr { border-color:#000;}

/**
 * Theme styling for backgrounds
 */
.t-background { background-color: #000; }
    .t-background--primary { background-color:#000; }
    .t-background--secondary { background-color:#000; }
    .t-background--tertiary { background-color:#000; }
    .t-background--accent { background-color:#000; }
    .t-background--accent-secondary { background-color:#000; }
    .t-background--error{ background-color:#000; }

/**
 * Theme styling for SVG fills
 */
.t-fill { fill: #000; }
    .t-fill--primary { fill:#000; }
    .t-fill--secondary { fill:#000; }
    .t-fill--tertiary { fill:#000; }
    .t-fill--accent { fill:#000; }
    .t-fill--accent-secondary { fill:#000; }


/**
 * Theme styling for text color styles
 */
.t-color { color:var(--t-color-content-text); }
    .t-color--primary { color: var(--t-color-content-text--primary); }
    .t-color--secondary { color: var(--t-color-content-text--secondary); }
    .t-color--tertiary { color: var(--t-color-content-text--tertiary); }
    .t-color--accent { color: var(--t-color-content-text--accent); }
    .t-color--accent-secondary { color: var(--t-color-content-text--accent-secondary); }
    .t-color--hyperlink { color: var(--t-color-hyperlink); }
    .t-color--success { color:var(--t-color-content-text--success); }
    .t-color--failure { color:var(--t-color-content-text--failure); }
