/**
 * Typography
 *
 * These are base styles for typographic elements
 *
 */

/**
 * 1. For accessibility, the base line-height should be 1.5 times the base font-size
 * http://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation
 * 2. Responsive Typography: https://madebymike.com.au/writing/precise-control-responsive-typography/
 * Related: https://www.smashingmagazine.com/2016/05/fluid-typography/
 */

body
{
    font-size: calc(var(--t-size-body-copy) + 0.025vw); /* 2 */
    line-height: 1.5; /* 1 */
}


/**
 * Headings
 *
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes.
 * Related: https://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
 * Related: https://csswizardry.com/2016/02/managing-typography-on-large-apps/
 *
 * 1. Decrease the line-height of wrapped headings - https://twitter.com/heydonworks/status/672716556179283968
 * 2. Responsive Typography: https://madebymike.com.au/writing/precise-control-responsive-typography/
 * Related: https://www.smashingmagazine.com/2016/05/fluid-typography/
 */

h1,
h2,
h3,
h4,
h5,
h6
{
    line-height: 1.125; /* 1 */
}

h1
{
    font-size: calc(var(--t-size-alpha) + 0.1vw); /* 2 */
}

h2
{
    font-size: calc(var(--t-size-beta) + 0.1vw); /* 2 */
}

h3
{
    font-size: calc(var(--t-size-gamma) + 0.1vw); /* 2 */
}

h4
{
    font-size: calc(var(--t-size-delta) + 0.1vw); /* 2 */
}

h5
{
    font-size: calc(var(--t-size-epsilon) + 0.1vw); /* 2 */
}

h6
{
    font-size: calc(var(--t-size-zeta) + 0.1vw); /* 2 */
}


/**
 * Quotes
 *
 * Sometimes you need to quote someone - http://html5doctor.com/blockquote-q-cite
 * 1. .4em is roughly equal to the width of the opening “ that we wish to hang.
 */

q
{
    quotes: "\2018" "\2019" "\201C" "\201D";
}

q::before
{
    content: "\2018";
    content: open-quote;
}

q::after
{
    content: "\2019";
    content: close-quote;
}

q q::before
{
    content: "\201C";
    content: open-quote;
}

q q::after
{
    content: "\201D";
    content: close-quote;
}

blockquote
{
    quotes: "\201C" "\201D";
    text-indent: -0.41rem; /* 1 */
}

blockquote p::before
{
    content: "\201C";
    content: open-quote;
}

blockquote p::after
{
    content: "";
    content: no-close-quote;
}

blockquote q::before
{
    content: "\2018";
    content: open-quote;
}

blockquote q::after
{
    content: "\2019";
    content: close-quote;
}

blockquote p:last-of-type
{
    margin-bottom: 0;
}

blockquote p:last-of-type::after
{
    content: "\201D";
    content: close-quote;
}
