/**
 * Typography
 *
 * These are base styles for typographic elements
 *
 */

/**
 * 1. For accessibility, the base line-height should be 1.5 times the base font-size
 * http://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation
 */

body { font-size: var(--t-size-body-copy) /* 1 */; line-height: 1.5 /* 1 */; }


/**
 * Headings
 *
 * Extra class names allow same font-size to be used on other elements to maintain the semantically appropriate heading levels
 *
 * 1. Decrease the line-height of wrapped headings - https://twitter.com/heydonworks/status/672716556179283968
 */

h1,h2,h3,h4,h5,h6 { line-height:1.125 /* 1 */; }

h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

.h1, .alpha { }
.h2, .beta { }
.h3, .gamma { }
.h4, .delta { }
.h5, .epsilon { }
.h6, .zeta { }


/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */

.giga { font-size: 6rem; line-height: 1; }

.mega { font-size: 4.5rem; line-height: 1; }

.kilo { font-size: 3rem; line-height: 1; }


/**
 * Lede/Lead
 *
 * Used to make the introductory text slightly larger http://en.wikipedia.org/wiki/Lead_paragraph
 */

.lede, .lead { font-size: 1.25rem; }


/**
 * Small Print
 *
 * A series of classes for setting tiny type; for use in smallprint etc.
 */

.smallprint,
.milli { font-size: 0.75rem; }

.micro { font-size: 0.625rem; }


/**
 * Quotes
 *
 * Sometimes you need to quote someone - http://html5doctor.com/blockquote-q-cite
 * 1. .4em is roughly equal to the width of the opening “ that we wish to hang.
 */

q { quotes: "\2018" "\2019" "\201C" "\201D"; }
    q:before { content: "\2018"; content: open-quote; }
    q:after { content: "\2019"; content: close-quote; }
    q q:before { content: "\201C"; content: open-quote; }
    q q:after { content: "\201D"; content: close-quote; }

blockquote { text-indent: -0.41rem /* 1 */; quotes: "\201C" "\201D"; }
    blockquote p:before { content: "\201C"; content: open-quote; }
    blockquote p:after { content: ""; content: no-close-quote; }
    blockquote q:before { content: "\2018"; content: open-quote; }
    blockquote q:after { content: "\2019"; content: close-quote; }
    blockquote p:last-of-type { margin-bottom: 0; }
    blockquote p:last-of-type:after { content: "\201D"; content: close-quote; }
